<div id="new-entry" class="CRUD-base">
<div>

  <p id="notice"><%= notice %></p>

  <p>
    <b>Name:</b>
    <%= @entry.name %>
  </p>


  <%= link_to 'Edit', edit_entry_path(@entry), :class => "edit-entry-link" %>
  <%= link_to 'Back', entries_path, :class => "back-link" %>

  </div>
</div>